<div id="about-us">
  <div class="profile-main-banner">
    <h2 class="profile-title step-one">Profile</h2>
    <p>
      We are an outsourcing company with a deep interests to see that professionals and
      organizations gets the bests talents through thought provoking tasks that will determine
      their skill set.
    </p>
    <p>
      Here at <strong>alpine.net</strong>, we aim to build a "network of experts".
    </p>
  </div>
  <div class="values-core">
    <div class="row">
      <div class="col-lg-4">
        <div class="values-ruler draw-one">
          <h3>Lorem ipsum </h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse

          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="values-ruler draw-two">
          <h3>Lorem ipsum </h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="values-ruler  draw-three">
          <h3>Lorem ipsum </h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          </p>
        </div>
      </div>
    </div>
  </div>
</div>