<div class="portfolio">
  <section class="sect-2">
    <h2 class="profile-title step-three">Portfolio </h2>
    <div class="container">
      <div class="row">
        <div class="camera_wrap">
          <div data-src="assets/images/header-bg.jpg">
            <img src="assets/images/header-bg.jpg">
            <div class="camera_caption">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              </p>
            </div>
          </div>

          <div data-src="assets/images/bridgeline.jpg">
            <img src="assets/images/bridgeline.jpg">
            <div class="camera_caption">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
              </p>
            </div>
          </div>
          <div data-src="assets/images/rainforest.jpg">
            <img src="assets/images/rainforest.jpg">
            <div class="camera_caption">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
              </p>
            </div>
          </div>
          <div data-src="assets/images/building-one.jpg">
            <img src="assets/images/building-one.jpg">
            <div class="camera_caption">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
              </p>
            </div>
          </div>
          <div data-src="assets/images/building-two.jpg">
            <img src="assets/images/building-two.jpg">
            <div class="camera_caption">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
              </p>
            </div>
          </div>
          <div data-src="assets/images/rainforest-two.jpg">
            <img src="assets/images/rainforest-two.jpg">
            <div class="camera_caption">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
