<div class="backstretch" id="bkstretch">
  <div class="wrapper">
    <!-- Page Content Holder -->
    <div>
      <div class="overlay"></div>
      <nav class="navbar  navbar-expand-lg navbar-light fixed-top navigate-header">
        <div class="container-fluid">
          <div title="home">
            <a routerLink='/'>
              <!-- text icon -->
              <svg version="1.1" id="alpine-banner" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="140.518px" height="34.26px"
                viewBox="0 0 140.518 34.26" enable-background="new 0 0 140.518 34.26" xml:space="preserve">
                <g>
                  <g>
                    <path fill="#00B6FF"
                      d="M98.107,13.913c0.014-0.418,0.021-0.818,0.021-1.12c0-2.062-3.104-2.12-3.104-0.057
                                                                      c0,1.46,0,12.582,0,13.739c0,1.849,3.154,1.692,3.154,0c0-1.104,0-5.7,0-9.003c0-5.195,10.772-6.307,10.772,0
                                                                      c0,3.675,0,7.998,0,9.003c0,1.771,3.331,1.849,3.331,0c0-1.063,0-0.271,0-9.003C112.284,8.656,99.604,9.946,98.107,13.913z" />
                    <path fill="#00B6FF" d="M133.313,22.588c0,6.125,5.019,5.205,5.822,5.22c1.714-0.062,1.875-2.334-0.125-2.375
                                                                      c-1.875,0.041-2.219,0.438-2.396-3.998c0.011-2.685,0.025-8.208,0.025-8.208s0.799-0.025,2.502-0.025
                                                                      c1.701,0,1.938-2.35,0.041-2.35c-1.586,0-2.494-0.02-2.494-0.02s0-2.354,0-3.971c0-1.85-3.334-1.811-3.334-0.002
                                                                      c0,1.845,0.003,3.975,0.003,3.975s0.49-0.012-1.613-0.012c-2.11,0-2.03,2.379,0.022,2.379c1.741,0,1.542,0,1.542,0
                                                                      S133.313,19.828,133.313,22.588z" />
                    <g>
                      <path fill="#00B6FF"
                        d="M131.321,19.405c0-4.738-3.814-8.573-8.519-8.573s-8.52,3.834-8.52,8.573
                                                                          c0,4.732,4.771,8.416,8.897,8.428c2.188,0.012,5.402-0.363,6.777-2.363c1.266-1.457-0.163-3.643-1.865-1.719
                                                                          c-1.573,1.77-4.05,1.764-4.95,1.738c-2.553-0.072-5.183-1.879-5.727-4.666h13.771C131.272,20.358,131.321,19.884,131.321,19.405z
                                                                           M117.44,17.837c0.597-2.771,2.779-4.563,5.362-4.563s4.71,1.792,5.293,4.563H117.44z" />
                    </g>
                  </g>
                  <g>
                    <g>
                      <path fill="#00B6FF"
                        d="M34.38,10.887c-2.298,0-4.374,0.969-5.872,2.533v-0.921c0-1.842-3.325-1.842-3.325,0v19.865
                                                                          c0,1.971,3.242,2.043,3.325,0v-7.082c1.499,1.564,3.574,2.531,5.872,2.531c4.545,0,8.235-3.787,8.235-8.467
                                                                          C42.616,14.676,38.925,10.887,34.38,10.887z M33.928,25.347c-2.99,0-5.421-2.707-5.421-6.061c0-3.349,2.431-6.064,5.421-6.064
                                                                          s5.413,2.716,5.413,6.064C39.341,22.64,36.918,25.347,33.928,25.347z" />
                    </g>
                    <g>
                      <path fill="#00B6FF"
                        d="M14.381,12.812v0.551c-1.496-1.621-3.599-2.632-5.939-2.632c-4.545,0-8.23,3.818-8.23,8.53
                                                                          c0,4.715,3.688,8.536,8.23,8.536c2.344,0,4.443-1.015,5.939-2.635v1.014c0,2.187,3.334,2.175,3.334,0V12.812
                                                                          C17.715,10.518,14.381,10.443,14.381,12.812z M8.442,25.467c-3.038,0-5.502-2.774-5.502-6.204c0-3.425,2.464-6.206,5.502-6.206
                                                                          c3.039,0,5.504,2.78,5.504,6.206C13.946,22.69,11.481,25.467,8.442,25.467z" />
                    </g>
                    <path fill="#00B6FF"
                      d="M53.166,13.914c0.011-0.417,0.018-0.819,0.018-1.12c0-2.063-3.1-2.121-3.1-0.059c0,1.461,0,12.583,0,13.74
                                                                          c0,1.849,3.148,1.692,3.148,0c0-1.104,0-5.7,0-9.003c0-5.196,10.772-6.308,10.772,0c0,3.675,0,8,0,9.003
                                                                          c0,1.771,3.329,1.849,3.329,0c0-1.063,0-0.271,0-9.003C67.339,8.655,54.662,9.946,53.166,13.914z" />
                    <path fill="#00B6FF" d="M23.183,25.91c0,2.511-3.468,2.507-3.468,0c0-3.187,0-21.654,0-24.182c0-1.598,3.468-1.926,3.468,0
                                                                          C23.183,3.652,23.183,23.392,23.183,25.91z" />
                    <g>
                      <path fill="#00B6FF"
                        d="M86.376,19.343c0-4.738-3.818-8.572-8.521-8.572c-4.699,0-8.52,3.833-8.52,8.572
                                                                          c0,4.732,4.771,8.416,8.897,8.428c2.188,0.008,5.402-0.367,6.777-2.367c1.267-1.454-0.163-3.639-1.865-1.715
                                                                          c-1.569,1.77-4.05,1.764-4.946,1.738c-2.557-0.072-5.187-1.879-5.729-4.666h13.772C86.327,20.296,86.376,19.821,86.376,19.343z
                                                                           M72.495,17.774c0.593-2.771,2.775-4.563,5.358-4.563s4.71,1.792,5.293,4.563H72.495z" />
                    </g>
                    <g>
                      <ellipse fill="#00B6FF" cx="46.316" cy="8.511" rx="1.701" ry="1.85" />
                      <path fill="#00B6FF"
                        d="M48.085,26.249c0,2.042-3.468,2.182-3.468,0c0-1.619,0-11.844,0-13.561c0-1.986,3.468-2.125,3.468,0
                                                                          C48.085,14.561,48.085,24.595,48.085,26.249z" />
                    </g>
                  </g>
                  <g>
                    <g>
                      <ellipse fill="#00B6FF" cx="90.742" cy="25.458" rx="2.267" ry="2.363" />
                      <path fill="#36A9E1"
                        d="M92.178,25.445c0,0.77-0.643,1.393-1.439,1.393c-0.794,0-1.438-0.623-1.438-1.393
                                                                          s0.644-1.392,1.438-1.392C91.535,24.054,92.178,24.676,92.178,25.445z" />
                    </g>
                    <g>
                      <path fill="#FFFFFF"
                        d="M92.365,26.45c-0.305,0-3.001,0-3.266,0c-0.266,0-0.23,0.41,0,0.41c0.074,0,0.425,0,0.871,0
                                                                          c-0.019,0.111,0.038,0.237,0.165,0.237c0.269,0,0.805,0,1.11,0c0.141,0,0.191-0.125,0.168-0.237c0.479,0,0.863,0,0.951,0
                                                                          C92.614,26.86,92.667,26.45,92.365,26.45z            ">
                        <animate fill="remove" attributeName="fill" from="black" to="white" dur="1s"
                          begin="overlay.mouseover+.1" end="overlay.mouseout+.1" repeatCount="indefinite"
                          accumulate="none" additive="replace" calcMode="linear" restart="always">
                        </animate>
                      </path>
                      <ellipse fill="#FFFFFF" cx="90.742" cy="24.14" rx="0.305" ry="0.324">

                        <animate fill="remove" attributeName="fill" from="black" to="white" dur="1s"
                          begin="overlay.mouseover+.4" end="overlay.mouseout+.4" repeatCount="indefinite"
                          accumulate="none" additive="replace" calcMode="linear" restart="always">
                        </animate>
                      </ellipse>
                      <path fill="#FFFFFF"
                        d="M90.185,25.247c0.266,0,0.804,0,1.112,0c0.247,0,0.21-0.397,0-0.397c-0.271,0-0.791,0-1.112,0
                                                                          C89.96,24.85,89.957,25.247,90.185,25.247z           ">
                        <animate fill="remove" attributeName="fill" from="black" to="white" dur="1s"
                          begin="overlay.mouseover+.3" end="overlay.mouseout+.3" repeatCount="indefinite"
                          accumulate="none" additive="replace" calcMode="linear" restart="always">
                        </animate>
                      </path>
                      <path fill="#FFFFFF"
                        d="M89.654,26.067c0.137,0,1.986,0,2.188,0c0.267,0,0.267-0.43,0-0.43c-0.309,0-1.646,0-2.188,0
                                                                          C89.351,25.638,89.39,26.067,89.654,26.067z          ">
                        <animate fill="remove" attributeName="fill" from="black" to="white" dur="1s"
                          begin="overlay.mouseover+.2" end="overlay.mouseout+.2" repeatCount="indefinite"
                          accumulate="none" additive="replace" calcMode="linear" restart="always">
                        </animate>
                      </path>
                    </g>
                  </g>
                </g>
              </svg>
            </a>
          </div>
          <div class="d-inline-block d-lg-none ml-auto" data-target="#navbarSupportedContent">
            <!-- header text -->
            <span class="login">
              <a routerLink='/accounts/login' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><span
              >Account</span></a>
            </span>
          </div>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
              <li class="nav-item">
                <a routerLink='/accounts/login' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><span
                    class="login">Account</span></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <!-- end of wrapper -->
  </div>
  <!-- end of bkstretch -->
</div>