
<div class="covering">
  <div class="login-wrapper animated fadeInDown">
    <div class="row">
        <div class="col-lg-12">
        <div class="header-top">
                <h1>Connect Now</h1>
                <form class="account-form row">
                    <div class="form-field col-lg-6">
                        <input id="email" type="text" class="input-text" required>
                        <label class="label" for="email">Email</label>
                    </div>
                    <div class="form-field col-lg-6">
                        <input id="password" type="password" class="input-text not-empty" required>
                        <label class="label" for="email">Password</label>
                    </div>
                    <div class="form-field col-lg-12 align-center">
                        <input  type="submit" class="submit-btn" value="Connect">
                    </div>
                    <div class="col-lg-12 align-center sign-up">
                        <p class="connect-now"> <span><a href ="#password-recovery" class="passwrd-recovry">Forgot password?</a></span> | Don't have an account? | <span><a routerLink='/accounts/signup' class="signup-acct">Create an  account.</a></span></p>
                    </div>
                </form>
        </div>
          </div> 
    </div>
  </div>
</div>
