<div class="covering">
    <div class="login-wrapper animated fadeInDown">
        <div class="row">
            <div class="col-lg-12">
                <div class="header-top">
                    <h1>Connect Now</h1>
                    <div class="alert alert-danger" *ngIf="errorMsg">
                        {{errorMsg }}</div>
                    <form class="account-form row" [formGroup]="form" (ngSubmit)="onSubmit()">
                        <div class="form-field col-lg-6">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Email" [formControl]="form.controls['email']">
                                <mat-error
                                    *ngIf="form.controls['email'].hasError('email') && !form.controls['email'].hasError('required')">
                                    Please enter a valid email address
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="form-field col-lg-6">
                            <mat-form-field class="example-full-width">
                                <input matInput type="password" placeholder="Password"
                                    [formControl]="form.controls['password']">
                            </mat-form-field>
                        </div>
                        <div class="form-field col-lg-12 align-center">
                            <button mat-raised-button color="primary" [disabled]="!form.valid || loading" type="submit"><i *ngIf="loading"
                                    class="fa fa-spinner fa-spin"></i> Connect</button>
                        </div>
                        <div class="col-lg-12 align-center sign-up">
                            <p class="connect-now"> <span><a href="#password-recovery" class="passwrd-recovry">Forgot
                                        password?</a></span> | Don't have an account? | <span><a
                                        routerLink='/accounts/signup' class="signup-acct">Create an account.</a></span>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>